appdirs==1.4.3
attrs==19.1.0
black==19.3b0
certifi==2019.3.9
chardet==3.0.4
Click==7.0
cycler==0.10.0
decorator==4.4.0
ffmpeg-python==0.1.17
future==0.17.1
idna==2.8
imageio==2.5.0
imageio-ffmpeg==0.3.0
kiwisolver==1.0.1
matplotlib==3.0.3
moviepy==1.0.0
numpy==1.16.2
Pillow==6.0.0
proglog==0.1.9
pygame==1.9.5
pyparsing==2.4.0
python-dateutil==2.8.0
requests==2.21.0
six==1.12.0
toml==0.10.0
tqdm==4.31.1
urllib3==1.24.1
